body, html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center; /* Si quieres centrar también verticalmente */
  background-color: #727272;
  font-family: Arial, sans-serif;
}

.app-container {
  max-width: 800px;
  margin: 50px auto;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.titulo {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.formulario {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 10px;
  margin-bottom: 20px;
}

.formulario input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.formulario button {
  grid-column: span 3;
  padding: 12px;
  background-color: #28a124;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.formulario button:hover {
  background-color: #00b309;
}

.tabla-usuarios {
  width: 100%;
  border-collapse: collapse;
}

.tabla-usuarios th,
.tabla-usuarios td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.tabla-usuarios td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  color: #000000; /* Cambia este valor también */
}

.tabla-usuarios thead {
  background-color: #21a728;
}

.btn-editar {
  background-color: #078fff;
  border: none;
  padding: 6px 12px;
  margin-right: 5px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.btn-editar:hover {
  background-color: #005ae0;
}

.btn-eliminar {
  background-color: #dc3545;
  border: none;
  padding: 6px 12px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.btn-eliminar:hover {
  background-color: #c82333;
}